In [2]:
#Importing Pandas to read the csv file within the next two lines. 
import pandas as pd
import datetime

In [3]:
data = pd.read_csv("Unicorn_Companies.csv")

In [4]:
#Using this line of code to remove all the columns we don't need for the project to work. 
cleaned_data = data.drop(columns=["Portfolio Exits" , "Deal Terms" , "Investors Count" , "Financial Stage", "Total Raised", "Select Inverstors", "Industry", "City", "Country", "Date Joined", "Valuation ($B)"])

'''
This column contained 'None' in many places which caused problems
when doing the age calculation later.
First replace all 'None' elements with 0, then convert the column to int64, just to be sure.
'''
cleaned_data.loc[cleaned_data['Founded Year'] == 'None', 'Founded Year'] = 0
cleaned_data = cleaned_data.astype({'Founded Year': 'int64'})

In [5]:
#This row checks our work to make sure the data has been cleaned to the point we need it to be. 
cleaned_data.head()

      Company  Founded Year
0   Bytedance          2012
1      SpaceX          2002
2      Stripe          2010
3      Klarna          2005
4  Epic Games          1991

In [6]:
cleaned_data.dtypes

Company         object
Founded Year     int64
dtype: object

In [10]:
# Changed 'data' to 'cleaned_data'
cleaned_data['age'] = cleaned_data.apply(lambda row: datetime.datetime.now().date().year - row['Founded Year'], axis=1)
cleaned_data.head()

      Company  Founded Year  age
0   Bytedance          2012   10
1      SpaceX          2002   20
2      Stripe          2010   12
3      Klarna          2005   17
4  Epic Games          1991   31

In [8]:
import matplotlib